<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- FIXME: Programmatically register this via a helper method. -->
  <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
      <property name="scopes">
          <map>
              <entry key="actor">
                  <bean class="akka.spring.ActorScope"/>
              </entry>
          </map>
      </property>
  </bean>

  <context:annotation-config/>
  <context:component-scan base-package="sample.spring"/>

  <bean id="hello-actor" class="sample.spring.GreetingActor" scope="prototype">
    <constructor-arg name="greeting" value="Hello"/>
  </bean>

  <bean id="hi-actor" class="sample.spring.GreetingActor" scope="prototype">
    <constructor-arg name="greeting" value="Hi"/>
  </bean>

  <bean id="resource" class="sample.spring.Resource" scope="actor" destroy-method="destroy"/>

  <!--bean id="resource-ctor-actor" class="sample.spring.ResourceHolderCtor" scope="prototype">
    <constructor-arg name="resource" ref="resource"/>
  </bean>

  <bean id="resource-prop-actor" class="sample.spring.ResourceHolderProp" scope="prototype">
    <property name="resource" ref="resource"/>
  </bean-->

</beans>